.methods {
    display: table;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    // hyphens: auto;

    & tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    & td {
        padding: 10px;
    }

    & th {
        padding: 10px;
        background-color: var(--gradient-to);
        color: #fff;
        text-align: left;
    }
}